/* font-family: 'Titan One', cursive;
font-family: 'Lato', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
}
.row{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(to right bottom, #82d6ff, #8fbaff, #b8a3ff, #e585fc);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}
.header .logo{
    height: 4rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.header .container .col-sm-6{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.header .container .col-sm-6 h1{
    font-size: 4rem;
    font-family: 'Titan One', cursive;
}
.header .container .col-sm-6 h3{
    font-family: 'Titan One', cursive;
}
.header .container .col-sm-6 .btns{
    margin: 2rem 0;
    display: flex;
}
.header .container .col-sm-6 .btns a{
    padding: .5rem 1.5rem;
    margin-right: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #907ad6;
}
.header .container .col-sm-6 .btns a:hover{
    background-color: #907ad6;
    box-shadow: 0 0 10px #907ad6;
}
.header .container .col-sm-6 .play{
    color: white;
    text-decoration: none;
}
.header .container .col-sm-6 .play:hover{
    color: #907ad6;
}
.header .container .col-sm-6 .header-img-1{
    position: absolute;
    left: 110%;
    height: 60%;
}
.header .container .col-sm-6 .header-img-2{
    position: absolute;
    left: 110%;
    height: 50%;
    transform: translateX(90%);
}

.feature-banner{
    padding: 5rem 0;
}
.feature-banner .col-6{
    text-align: center;
}
.feature-banner .col-6 img{
    height: 5rem;
}


.play-games-banner{
    padding: 5rem 0;
    overflow: hidden;
    background-color: azure;
}
.play-games-banner .col-sm-6{
    /* min-height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.play-games-banner .col-sm-6 .img-banner{
    position: absolute;
    min-height: 100%;
    width: 100%;
    transform: rotate(30deg);
}
.play-games-banner .col-sm-6 .img-banner img{
    height: 20rem;
    position: absolute;
} 
.play-games-banner .col-sm-6 .img-banner .play-games-banner-img-1{
    transform: translate(0,-100%);
}
.play-games-banner .col-sm-6 .img-banner .play-games-banner-img-2{
    transform: translate(100%,-100%);
}
.play-games-banner .col-sm-6 .img-banner .play-games-banner-img-3{
    transform: translate(0,0);
}
.play-games-banner .col-sm-6 .img-banner .play-games-banner-img-4{
    transform: translate(100%,0);
}
.play-games-banner .col-sm-6 .img-banner .play-games-banner-img-5{
    transform: translate(0,100%);
}
.play-games-banner .col-sm-6 .img-banner .play-games-banner-img-6{
    transform: translate(100%,100%);
}


.playing-device-banner{
    padding: 5rem 0;
}
.playing-device-banner .col-sm-6{
    /* min-height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.playing-device-banner .col-sm-6 img{
    /* height: 100%; */
}


.technologies-used-banner{
    padding: 5rem 0;
    text-align: center;
}
.technologies-used-banner h2{
    margin-bottom: 3rem ;
}
.technologies-used-banner .content{
    /* padding: 1rem; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgb(197, 197, 197); */
}
.technologies-used-banner .col-sm-8 .col-4{
    padding: 1.5rem;
    border-radius: 10px;
}
.technologies-used-banner .col-sm-8 .col-4:hover{
    box-shadow: 0 0 10px rgb(197, 197, 197);
}
.technologies-used-banner .col-sm-8 .col-4 img{
    width: 100%;
}

.play-with-friend-banner{
    padding: 10rem 0;
    background: url("images/smartmockups_k8dfwejg.jpg") center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

.guide-banner{
    padding: 5rem 0;
}


.footer{
    padding: 3rem 0 5rem 0;
    background-image: linear-gradient(to right bottom, #82d6ff, #8fbaff, #b8a3ff, #e585fc);
}
.footer .footer-logo{
    height: 3rem;
}






@media (max-width: 576px) { 

    .header .container .col-sm-6 .header-img-1,.header .container .col-sm-6 .header-img-2{
        display: none;
    }

    .play-games-banner .col-sm-6 .img-banner{
        display: none;
    }
    .technologies-used-banner .col-sm-4{
        margin: 1rem 0;
    }
    /* .feature-banner .col-3 img{
        height: 3.5rem;
    } */
 }